doctype html
html(lang="en")
    head
        include partials/header

    body
        header.barra
            h1
                a(href='/') UpTask - Administrador de proyectos
            a(href="/cerrar-sesion") Cerrar sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
                        span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre

            block contenido
            //- pasar información que se recibe de la base de datos y mostrarla en la vista

            //- pre= vardump(proyectos)


        script(src="/dist/bundle.js")
